# Auto detect text files and perform LF normalization
* text=auto
REGame_Data/sharedassets0.assets.resS filter=lfs diff=lfs merge=lfs -text
REGame/REGame_Data/sharedassets0.assets.resS filter=lfs diff=lfs merge=lfs -text
sharedassets0.assets.resS filter=lfs diff=lfs merge=lfs -text
